In [22]:
import time
import mysql.connector
import pandas as pd
from tabulate import tabulate  # Import tabulate for a better table format

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aliza.123",  # Replace with your actual MySQL password
    database="bookstore_db"
)
cursor = conn.cursor()

# Ensure tables exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS authors (
        AuthorID INT AUTO_INCREMENT PRIMARY KEY,
        AuthorName VARCHAR(255) UNIQUE
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS books (
        BookID INT AUTO_INCREMENT PRIMARY KEY,
        Title VARCHAR(255) UNIQUE
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS bookstore (
        StoreID INT AUTO_INCREMENT PRIMARY KEY,
        BookID INT,
        AuthorID INT,
        Price DECIMAL(10,2),
        Rating FLOAT,
        FOREIGN KEY (BookID) REFERENCES books(BookID),
        FOREIGN KEY (AuthorID) REFERENCES authors(AuthorID)
    )
""")
conn.commit()

print("âœ… Database and tables are ready!")

# Load book data from CSV
df = pd.read_csv("amazon_data_engineering_books.csv")

# Insert Data into MySQL Tables
for index, row in df.iterrows():
    if pd.notnull(row['Title']) and pd.notnull(row['Author']) and pd.notnull(row['Rating']) and pd.notnull(row['Price']):
        # Insert Author
        cursor.execute("INSERT IGNORE INTO authors (AuthorName) VALUES (%s)", (row['Author'],))
        conn.commit()

        # Retrieve AuthorID
        cursor.execute("SELECT AuthorID FROM authors WHERE AuthorName = %s", (row['Author'],))
        author_id = cursor.fetchone()[0]

        # Insert Book
        cursor.execute("INSERT IGNORE INTO books (Title) VALUES (%s)", (row['Title'],))
        conn.commit()

        # Retrieve BookID
        cursor.execute("SELECT BookID FROM books WHERE Title = %s", (row['Title'],))
        book_id = cursor.fetchone()[0]

        # Insert into bookstore (Avoid duplicates)
        cursor.execute("""
            INSERT IGNORE INTO bookstore (BookID, AuthorID, Price, Rating)
            VALUES (%s, %s, %s, %s)
        """, (book_id, author_id, row['Price'], row['Rating']))
        conn.commit()

print("âœ… Data successfully inserted into MySQL!")

# SQL query to fetch books published after 2015 and price below $50
sql_query = """
    SELECT authors.AuthorName, books.Title, bookstore.Rating, bookstore.Price
    FROM bookstore
    JOIN books ON bookstore.BookID = books.BookID
    JOIN authors ON bookstore.AuthorID = authors.AuthorID
    WHERE bookstore.Price < 50
    ORDER BY bookstore.Price ASC
    LIMIT 15;
"""

# Measure MySQL query execution time
start_time = time.time()
cursor.execute(sql_query)
sql_results = cursor.fetchall()
sql_time = time.time() - start_time  # âœ… Measures query speed

# Convert results to DataFrame
df_sql = pd.DataFrame(sql_results, columns=["Author", "Title", "Rating", "Price"])

# Display results
print("\nðŸ“Œ Filtered Books from MySQL:\n")
print(tabulate(df_sql, headers="keys", tablefmt="psql"))  # Formats output as a clean table

# Print execution time
print(f"ðŸ“Œ MySQL Query Execution Time: {sql_time:.5f} seconds")

# Close connection
cursor.close()
conn.close()

âœ… Database and tables are ready!
âœ… Data successfully inserted into MySQL!

ðŸ“Œ Filtered Books from MySQL:

+----+----------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+
|    | Author                                                                           | Title                                                                                                                                                                              |   Rating |   Price |
|----+----------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------|
|  0 | Book 3 of 3: The Innovators of AI and Data Series                                | "Data Engineering Excellence: Architecting Resilient Systems from Scratch to Scale (The Innovators of AI and Data Series Book 3)"                                                  |      4.7 |       0 |
|  1 | Book 1 of 4: Future-Proof Tech Skills: Including AI, Python, SQL, Linux And More | "Python Data Engineering Resources: Forge Your Path to Success in Data Engineering, Machine Learning and AI (Future-Proof Tech Skills: Including AI, Python, SQL, Linux And More)" |      4.9 |       9 |
|  2 | James Densmore                                                                   | "Data Pipelines Pocket Reference: Moving and Processing Data for Analytics"                                                                                                        |      4.6 |      17 |
|  3 | Cole Nussbaumer Knaflic                                                          | "Storytelling with Data: A Data Visualization Guide for Business Professionals"                                                                                                    |      4.6 |      21 |
|  4 | Gareth Eagar                                                                     | "Data Engineering with AWS: Acquire the skills to design and build AWS-based data transformation pipelines like a pro"                                                             |      4.3 |      24 |
|  5 | Gareth Eagar                                                                     | "Data Engineering with AWS: Acquire the skills to design and build AWS-based data transformation pipelines like a pro"                                                             |      4.3 |      24 |
|  6 | Kedeisha Bryan                                                                   | "Cracking the Data Engineering Interview: Land your dream job with the help of resume-building tips, over 100 mock questions, and a unique portfolio"                              |      4   |      26 |
|  7 | Kedeisha Bryan                                                                   | "Cracking the Data Engineering Interview: Land your dream job with the help of resume-building tips, over 100 mock questions, and a unique portfolio"                              |      4   |      26 |
|  8 | Paul Houghton                                                                    | "Data Engineering with Alteryx: Helping data engineers apply DataOps practices with Alteryx"                                                                                       |      4.3 |      31 |
|  9 | Paul Crickard                                                                    | "Data Engineering with Python: Work with massive datasets to design data models and automate data pipelines using Python"                                                          |      4.1 |      37 |
| 10 | Roberto Zagni                                                                    | "Data Engineering with dbt: A practical guide to building a cloud-based, pragmatic, and dependable data platform with SQL"                                                         |      4.7 |      37 |
| 11 | Richard J. Schiller, David Larochelle                                            | "Data Engineering Best Practices: Architect robust and cost-effective data solutions in the cloud era"                                                                             |      5   |      39 |
| 12 | Pulkit Chadha                                                                    | "Data Engineering with Databricks Cookbook: Build effective data and AI solutions using Apache Spark, Databricks, and Delta Lake"                                                  |      4.4 |      39 |
| 13 | Vlad Riscutia                                                                    | "Data Engineering on Azure"                                                                                                                                                        |      4.5 |      43 |
| 14 | Joe Reis, Matt Housley                                                           | "Fundamentals of Data Engineering: Plan and Build Robust Data Systems"                                                                                                             |      4.7 |      43 |
+----+----------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+
ðŸ“Œ MySQL Query Execution Time: 0.00053 seconds