In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 1.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
import mysql.connector
import pandas as pd

# Ensure database connection and creation
def create_database():
    """Ensures that the MySQL database exists."""
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Aliza.123"
    )
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS data_engineering_books")
    conn.commit()
    cursor.close()
    conn.close()

# Ensure table creation
def create_table():
    """Ensures that the 'books' table exists with the correct schema."""
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Aliza.123",
        database="data_engineering_books"
    )
    cursor = conn.cursor()
    
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS books (
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(255),
            author VARCHAR(255),
            publication_date VARCHAR(50),
            rating VARCHAR(10),
            price VARCHAR(50)
        )
    """)
    
    conn.commit()
    cursor.close()
    conn.close()

# Load data from the CSV file and handle NaN values
def load_data():
    """Loads scraped data from CSV, handles missing values, and inserts into MySQL."""
    df = pd.read_csv("amazon_data_engineering_books.csv")

    # Fill NaN values with "Unknown" for text fields, "Not Available" for price/publication date
    df.fillna({
        'Title': 'Unknown',
        'Author': 'Unknown',
        'Publication Date': 'Not Available',
        'Rating': 'No Rating',
        'Price': 'Not Available'
    }, inplace=True)

    conn = None
    cursor = None

    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Aliza.123",
            database="data_engineering_books"
        )
        cursor = conn.cursor()

        # Insert data into MySQL
        for _, row in df.iterrows():
            cursor.execute("""
                INSERT INTO books (title, author, publication_date, rating, price)
                VALUES (%s, %s, %s, %s, %s)
            """, (row['Title'], row['Author'], row['Publication Date'], row['Rating'], row['Price']))
        
        conn.commit()
        print("Data successfully inserted into MySQL!")

    except mysql.connector.Error as db_error:
        print(f"Database error: {db_error}")

    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

# Extract and sort data
def query_books():
    """Executes the SQL query to extract and sort books based on rating."""
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Aliza.123",
        database="data_engineering_books"
    )
    cursor = conn.cursor()

    query = """
        SELECT title, author, rating
        FROM books
        ORDER BY rating ASC;
    """
    cursor.execute(query)
    results = cursor.fetchall()

    df_result = pd.DataFrame(results, columns=["Title", "Author", "Price", "Publication Date"])
    
    print("\nTop-rated Data Engineering Books:\n")
    print(df_result)

    cursor.close()
    conn.close()

# Execute functions
create_database()
create_table()
load_data()
query_books()

Data successfully inserted into MySQL!

Top-rated Data Engineering Books:

                                                Title  \
0   "Cracking the Data Engineering Interview: Land...
1   "Cracking the Data Engineering Interview: Land...
2   "Cracking the Data Engineering Interview: Land...
3   "Cracking the Data Engineering Interview: Land...
4   "Data Engineering with Python: Work with massi...
5   "Data Engineering with Python: Work with massi...
6   "Data Engineering with AWS: Acquire the skills...
7   "Data Engineering with AWS: Acquire the skills...
8   "Data Engineering with Alteryx: Helping data e...
9   "Data Engineering with AWS: Acquire the skills...
10  "Data Engineering with AWS: Acquire the skills...
11  "Data Engineering with Alteryx: Helping data e...
12  "Data Engineering with Databricks Cookbook: Bu...
13  "Data Engineering with Databricks Cookbook: Bu...
14                        "Data Engineering on Azure"
15                        "Data Engineering on Azure"
16  "AI Engineering: Building Applications with Fo...
17  "Storytelling with Data: A Data Visualization ...
18  "Data Labeling in Machine Learning with Python...
19  "AI Engineering: Building Applications with Fo...
20  "Data Labeling in Machine Learning with Python...
21  "Data Pipelines Pocket Reference: Moving and P...
22  "Storytelling with Data: A Data Visualization ...
23  "Data Pipelines Pocket Reference: Moving and P...
24  "Building Data Science Applications with FastA...
25                       "Snowflake Data Engineering"
26  "Data Engineering Excellence: Architecting Res...
27  "Data Engineering with dbt: A practical guide ...
28  "Building Data Science Applications with FastA...
29  "Fundamentals of Data Engineering: Plan and Bu...
30  "Data Engineering with dbt: A practical guide ...
31  "Fundamentals of Data Engineering: Plan and Bu...
32  "Data Engineering Excellence: Architecting Res...
33                       "Snowflake Data Engineering"
34  "Data-Driven Science and Engineering: Machine ...
35  "Designing Data-Intensive Applications: The Bi...
36  "Designing Data-Intensive Applications: The Bi...
37  "Data-Driven Science and Engineering: Machine ...
38  "Python Data Engineering Resources: Forge Your...
39  "Python Data Engineering Resources: Forge Your...
40  "Data Engineering with AWS Cookbook: A recipe-...
41  "Data Engineering with AWS Cookbook: A recipe-...
42  "Financial Data Engineering: Design and Build ...
43  "The Data Engineering Handbook: We are Data En...
44  "Data Engineering Best Practices: Architect ro...
45  "Financial Data Engineering: Design and Build ...
46  "Data Engineering Best Practices: Architect ro...
47  "The Data Engineering Handbook: We are Data En...
48  "Data Engineering Design Patterns: Recipes for...
49  "Data Engineering Design Patterns: Recipes for...

                                               Author Price  \
0                                      Kedeisha Bryan  26.0
1                                      Kedeisha Bryan  26.0
2                                      Kedeisha Bryan  26.0
3                                      Kedeisha Bryan  26.0
4                                       Paul Crickard  37.0
5                                       Paul Crickard  37.0
6                                        Gareth Eagar  24.0
7                                        Gareth Eagar  24.0
8                                       Paul Houghton  31.0
9                                        Gareth Eagar  24.0
10                                       Gareth Eagar  24.0
11                                      Paul Houghton  31.0
12                                      Pulkit Chadha  39.0
13                                      Pulkit Chadha  39.0
14                                      Vlad Riscutia  43.0
15                                      Vlad Riscutia  43.0
16                                         Chip Huyen  68.0
17                            Cole Nussbaumer Knaflic  21.0
18                                  Vijaya Kumar Suda  44.0
19                                         Chip Huyen  68.0
20                                  Vijaya Kumar Suda  44.0
21                                     James Densmore  17.0
22                            Cole Nussbaumer Knaflic  21.0
23                                     James Densmore  17.0
24                                     François Voron  47.0
25                                         Maja Ferle  49.0
26  Book 3 of 3: The Innovators of AI and Data Series   0.0
27                                      Roberto Zagni  37.0
28                                     François Voron  47.0
29                             Joe Reis, Matt Housley  43.0
30                                      Roberto Zagni  37.0
31                             Joe Reis, Matt Housley  43.0
32  Book 3 of 3: The Innovators of AI and Data Series   0.0
33                                         Maja Ferle  49.0
34                  Steven L. Brunton, J. Nathan Kutz  60.0
35                                   Martin Kleppmann  47.0
36                                   Martin Kleppmann  47.0
37                  Steven L. Brunton, J. Nathan Kutz  60.0
38  Book 1 of 4: Future-Proof Tech Skills: Includi...   9.0
39  Book 1 of 4: Future-Proof Tech Skills: Includi...   9.0
40          Trâm Ngọc Phạm, Gonzalo Herreros González  49.0
41          Trâm Ngọc Phạm, Gonzalo Herreros González  49.0
42                                     Tamer Khraisha  60.0
43                                            Unknown   9.0
44              Richard J. Schiller, David Larochelle  39.0
45                                     Tamer Khraisha  60.0
46              Richard J. Schiller, David Larochelle  39.0
47                                            Unknown   9.0
48                                            Unknown  79.0
49                                            Unknown  79.0

      Publication Date
0     November 7, 2023
1     November 7, 2023
2     November 7, 2023
3     November 7, 2023
4     October 23, 2020
5     October 23, 2020
6     October 31, 2023
7     October 31, 2023
8        June 30, 2022
9     October 31, 2023
10    October 31, 2023
11       June 30, 2022
12        May 31, 2024
13        May 31, 2024
14     August 17, 2021
15     August 17, 2021
16     January 7, 2025
17    November 2, 2015
18    February 9, 2024
19     January 7, 2025
20    February 9, 2024
21      March 16, 2021
22    November 2, 2015
23      March 16, 2021
24       July 31, 2023
25    January 28, 2025
26   February 24, 2025
27       June 30, 2023
28       July 31, 2023
29       July 26, 2022
30       June 30, 2023
31       July 26, 2022
32   February 24, 2025
33    January 28, 2025
34       July 28, 2022
35       April 2, 2017
36       April 2, 2017
37       July 28, 2022
38  September 27, 2024
39  September 27, 2024
40   November 29, 2024
41   November 29, 2024
42   November 12, 2024
43    October 17, 2024
44    October 11, 2024
45   November 12, 2024
46    October 11, 2024
47    October 17, 2024
48        June 3, 2025
49        June 3, 2025